<nav class="main-nav">

    <a href="/">Home</a>

	<div class="dropdown">
	
    <a href="/names/">Names <span class="dropdown-arrow">▾</span></a> 
	
	 <div class="dropdown-content">
            <a href="/names/boy-names/">Boy Names</a>
            <a href="/names/girl-names/">Girl Names</a>
            <a href="/names/nakshatra/">Nakshatra Names</a>
            <a href="/names/sanskrit/">Sanskrit Names</a>
        </div>

    </div>
	
	<div class="dropdown">
	
	<a href="/blog/">Blog <span class="dropdown-arrow">▾</span></a> 
	
	<div class="dropdown-content">
            <a href="/blog/naming-guides/">Naming Guides</a>
            <a href="/blog/mythology/">Mythology</a>
            <a href="/blog/trends/">Trends</a>
        </div>

    </div>


    <a href="/consultation/">Naming Consultation</a>
	
	<a href="/name-reveal-video/">Name Reveal Video</a>

</nav>