<nav class="main-nav">

    <a href="/" class="{% if page.url == '/' %}active{% endif %}">Home</a>

	<div class="dropdown">
	
    <a href="/names/" class="{% if page.url contains '/names/' %}active{% endif %}">Names <span class="dropdown-arrow">▾</span></a> 
	
	 <div class="dropdown-content">
            <a href="/names/boy-names/">Boy Names</a>
            <a href="/names/girl-names/">Girl Names</a>
            <a href="/names/nakshatra-names/">Nakshatra Names</a>
            <a href="/names/sanskrit-names/">Sanskrit Names</a>
			<a href="/names/mythology-names/">Mythology Names</a>
        </div>

    </div>
	
	<div class="dropdown">
	
	<a href="/blog/" class="{% if page.url contains '/blog/' %}active{% endif %}">Blog <span class="dropdown-arrow">▾</span></a> 
	
	<div class="dropdown-content">
            <a href="/blog/naming-guides/">Naming Guide</a>
            <a href="/blog/how-I-named-my-baby/">How I named my baby</a>
            <a href="/blog/trends/">Trends</a>
        </div>

    </div>


    <a href="/baby-naming-consultation/" class="{% if page.url contains '/consultation/' %}active{% endif %}">Naming Consultation</a>
	
	<a href="/baby-name-reveal-video/" class="{% if page.url contains '/reveal/' %}active{% endif %}">Name Reveal Video</a>

</nav>